*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.MySection {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.MySection::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../backg.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50%);
    background-size: 50%;
    background-position: calc(100% - 100px) center;
    background-color: black;
    mix-blend-mode: multiply;
    z-index: -1;
    opacity: 1; /* Adjust the opacity value as desired */
}

.MySection * {
    opacity: 1;
}

.MySection img{
    width: 80px;
    height: auto;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 45px;
   padding-left: 8%;
   padding-right: 8%
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
    color: rgb(81, 133, 28);
    font-size: 25px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px ;
}
nav ul li a{
    color: white;
    text-decoration:none;
    text-transform:capitalize ;
    font-weight: bold;
}
nav ul li a:hover{
    color:rgb(73, 120, 25);
    transition: .4sec;
}
.btn{
    background-color:rgb(73, 120, 25) ;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius:30px;
    font-weight: bold;
   padding: 10px 25px;
   transition: 2s;
}
.btn:hover{
    transform: scale(1.2);
    background-color: rgb(160, 161, 47);
}
.content{
    position:absolute ;
    top: 60%;
    left: 8%;
    transform: translateY(-50%)
}
.content img{
    width: 150px;
    height: auto;
    display:center;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 30px;
}
span{
    color:rgb(73, 120, 25) ;
    font-size: 30px;
}
h3{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
}
h4{
    color: white; /* color:rgb(73, 120, 25) ; */
    font-size: 20px;
    letter-spacing: 2px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(73, 120, 25);
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:rgb(73, 120, 25);
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
}
.about img{
    width: 430px;
    height: auto;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text h5 span{
    color:rgb(73, 120, 25);
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(73, 120, 25);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(160, 161, 47);
    cursor:pointer;
}
.service{
    background-color: black;
    width: 100%;
    padding: 100px 100px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.card{
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(73, 120, 25);
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.Skills{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.Experience{
    color: white;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}
.Experience p{
    color: white;
    font-size: 16px;
    /* line-height: 27px; */
    margin-bottom: 20px;
}
.Interests{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.card .button{ /*--------why not .pra button?----*/
    background-color: rgb(73, 120, 25);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color:  rgb(160, 161, 47);
    border: 2px transparent; /* rgb(73, 120, 25); */
    cursor:pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{ 
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: rgb(73, 120, 25);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: rgb(160, 161, 47);
    border: 2px solid rgb(160, 161, 47);
    cursor:pointer;
} 
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-decoration-line: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(73, 120, 25);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration:none;
    font-size: 20px;
}.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: rgb(73, 120, 25);
    bottom: 35px;
    font-size: 14px;
}